doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title PilotDC day-of information
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/master.css')
  body
    .background 
    .row.title-bar.blue
        h1.pilot-logo
        h1 PilotDC day-of information

    .section
        .box.copy.left.white.span-12
            h4 Announcements
            .typ-large
                h5.typ-larger=announcements[0].title
                .typ-small=announcements[0].time
                p| !{announcements[0].content}
                each post in announcements.slice(1)
                    hr
                    h5=post.title
                    .typ-small=post.time
                    p.typ-base| !{post.content}

    .section.align-corners
        .box.title.blue.span-3
            h4 Pilot on Twitter
        .box.white.span-9
            <a class="twitter-timeline" href="https://twitter.com/search?q=%23PilotDC" data-widget-id="449905480291192833">Tweets about "#PilotDC"</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <a class="twitter-timeline" href="https://twitter.com/grabtheyoke" data-widget-id="449904888428773378">Tweets by @grabtheyoke</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            

            



    .section.schedule.large
        .box.title.blue.span-3
            h4 Schedule

        each day in schedule
            .row.day-title
                .box.span-9.push-3
                    h6: span= day.day
            each item in day.items
                .row
                    .box.span-3.typ-right
                       h6= item.time
                    .box.span-9= item.name


    .section.align-corners.workshops
        .box.title.left.blue.span-3
            h4 Workshops Schedule
        .box.copy.slate.span-9
            each workshop in workshops
                h5.title <span class="time">#{workshop.time}p</span> #{workshop.title}
                div.description!= workshop.description

