!!!
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='description', content='Work with your friends to turn your idea into a real app')
        meta(property='og:title', content="PilotDC - What can you build in a day?")
        meta(property="og:url", content="http://dc.gopilot.org/")
        meta(property="og:site_name", content="PilotDC | Day-of info")
        meta(property="og:type", content="event")
        meta(property="og:image", content="http://dc.gopilot.org/img/FB.jpg")
        meta(name='author', content= "Pilot")
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

        title=document.title

        link(rel='stylesheet', href='/css/dayof.css')
    body
        .section.leader.no-nav.blue
            .wrap
                h1 <span id="logo"></span> Day-of Event Info
        
        if document.announcements.length != 0
            .section.white#announcements
                .wrap
                    h4 Announcements 
                    each post in document.announcements.sort(function(a, b){ return b.time.localeCompare(a.time); })
                        div.announcement
                            div.post-head
                                div.time= post.time+" - "
                                h5= post.title
                            div.post!= post.content

        .section.dark.image.schedule(style="background-image: url(/img/pic2.jpg)")#schedule
            .wrap
                h4 Schedule
                each day in document.schedule 
                    div
                        h5= day.day
                        ol
                            each item in day.items
                                li
                                    time=item.time
                                    p=item.name

        .section.white.workshops#workshops
            .wrap
                h4 Workshop Schedule
                each workshop in document.workshops
                    div.workshop
                        div.workshop-head
                            h5.time= workshop.time+" - "
                            h5.title= workshop.title
                        div.description!= workshop.description

        .section.social#twitter
            .wrap
                h4 #PilotDC on Twitter
                .twitter-container
                    .twitter-stream
                        <a class="twitter-timeline" href="https://twitter.com/search?q=%23PilotDC" data-widget-id="449726781105262593">Tweets about "#PilotDC"</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    .twitter-stream    
                        <a class="twitter-timeline" href="https://twitter.com/grabtheyoke" data-widget-id="449729676466851840">Tweets by @grabtheyoke</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        .section.white.sponsors#sponsors
            .wrap.center
                h4 A Huge thanks to our sponsors:
               
                div.sponsor-logos
                    div.sponsor-row
                        a(href="http://www.microsoft.com" target="_blank")
                            img(src="/img/sponsors/microsoft.png" class="sponsor-logo half" id="microsoft")
                    div.sponsor-row
                        a(href="http://www.moduscreate.com" target="_blank")
                            img(src="/img/sponsors/modus.png" class="sponsor-logo half" id="modus")
                        a(href="http://gomodev.com" target="_blank")
                            img(src="/img/sponsors/modev.png" class="sponsor-logo half" id="dc-tech")
                    div.sponsor-row
                        a(href="http://www.thielfellowship.org" target="_blank")
                            img(src="/img/sponsors/thiel.png" class="sponsor-logo" id="thiel")
                        a(href="http://lob.com" target="_blank")
                            img(src="/img/sponsors/lob.png" class="sponsor-logo center" id="lob")
                    div.sponsor-row
                        a(href="http://www.namecheap.com" target="_blank")
                            img(src="/img/sponsors/namecheap.png" class="sponsor-logo half" id="namecheap")
                        a(href="http://www.iformbuilder.com" target="_blank")
                            img(src="/img/sponsors/iformbuilder.png" class="sponsor-logo half" id="iformbuilder")
                    
                    h4 Media Sponsors
                    div.sponsor-row
                        a(href="http://www.meetup.com/DC-Tech-Meetup/" target="_blank")
                            img(src="/img/sponsors/dctech.png" class="sponsor-logo half" id="modev")

        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-43652846-2', 'gopilot.org');ga('send', 'pageview');</script>
        <script data-main="/js/main.js" src="/js/require.js"></script>

