!!!
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='description', content='Work with your friends to turn your idea into a real app')
        meta(property='og:title', content="PilotDC - What can you build in a day?")
        meta(property="og:url", content="http://dc.gopilot.org/")
        meta(property="og:site_name", content="PilotDC")
        meta(property="og:type", content="event")
        meta(property="og:image", content="http://dc.gopilot.org/img/FB.jpg")
        meta(name='author', content= "Pilot")
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

        title=document.title + " | What can you build in a day?"

        link(rel='stylesheet', href='css/master.css')
    body
        .borderwrap
            .borders
                .l
                .r
                .b
                .t
        #headwrap
            header
                h1
                    a(href='#')=document.title
                nav
                    .left
                        a(href="#about") About
                        a(href="#schedule") Schedule
                    .right
                        a(href="#faq") FAQ
                        a(href=document.url_register) Register

        .section.leader(style="background-image: url(img/dc.jpg)")
            .wrap
                h1 You have 24 hours. <br>What will you build?
                .subhead
                    h3(class="pull-left") Announcing #{document.title}.<br> March 29-30, 2014 at <a href="https://www.google.com/maps/preview/place/5404+Wisconsin+Ave+%23700,+Chevy+Chase,+MD+20815/" target="_blank">Microsoft's DC Offices</a>
                    
        .section.white.register#register
            .wrap
                h4.pull-left.serif Registration is now open! 
                div.pull-right
                    a(href=document.url_register class="button blue register-button") Register Now >
                    span.register-link
                        a(href=document.url_mentor_register) Register as a Mentor

        .section.blue
            .wrap
                h2 Work together with engineers and designers from some of the top tech firms in the world, and turn your idea into a real app.
                a(href=document.url_register class="button white pull-left") Register Now
                <br/>
                a(href='http://dc.gopilot.org/sponsorship.pdf', class='upper small button') Interested in sponsoring? >

        .section.dark#about
            .wrap
                .content
                    h4 About
                    p #{document.title} is a <a href="http://gopilot.org">Pilot</a>-run event. Pilot is a national organization that holds hands-on educational events for high school students. Students form teams, brainstorm ideas, work together to bring one of those ideas to life with technology, and then demo and pitch the apps/websites they created for awards and prizes. We engage the local community by bringing in engineers and designers who mentor these students over the course of a day and help them bring their ideas to life. 

                    p Through this process students learn how to think creatively, pitch and demo their projects, and more technical skills like how to code and design. Most importantly, they learn how to learn.

                    h4 What is a Pilot event?
                    p A Pilot event is a day long creative competition where people who are always thinking up new ideas come together for a weekend and collaborate to build them. Entrepreneurs, designers, and developers work in teams to create apps for web or mobile platforms&mdash;in our case, these creators are high school students.

        //-.section.dark.image.prizes(style="background-image: url(img/pic2.jpg)")
        //-    .wrap
        //-        h4 Prizes
        //-        ol
        //-           li
        //-                div
        //-                    span 1<sup>st</sup>
        //-                    h5 iPad mini
        //-                    p 1/team member
        //-            li
        //-                div
        //-                    span 2<sup>nd</sup>
        //-                    h5 Apple TV
        //-                    p 1/team member
        //-            li
        //-                div
        //-                   span 3<sup>rd</sup>
        //-                   h5 Amazon Kindle 
        //-                   p 1/team member
        //-
        //-        ul.other
        //-            li
        //-                div
        //-                    span Honorable mention
        //-                    h5 Gift cards
        //-            li
        //-                div
        //-                    span Random raffle
        //-                    h5 Swag (t-shirts, all kinds of great stuff)

        .section.white.sponsors#sponsors
            .wrap.center
                h4 Sponsors
               
                div.sponsor-logos
                    div.sponsor-row
                        a(href="http://www.microsoft.com" target="_blank")
                            img(src="/img/sponsors/microsoft.png" class="sponsor-logo center" id="microsoft")
                    div.sponsor-row
                        a(href="http://www.thielfellowship.org" target="_blank")
                            img(src="/img/sponsors/thiel.jpg" class="sponsor-logo" id="thiel")
                        a(href="http://lob.com" target="_blank")
                            img(src="/img/sponsors/lob.png" class="sponsor-logo" id="lob")
                    
                    h4 Media Sponsors
                    a(href="http://www.meetup.com/DC-Tech-Meetup/" target="_blank")
                        img(src="/img/sponsors/dctech.png" class="sponsor-logo half" id="modev")
                    a(href="http://gomodev.com" target="_blank")
                        img(src="/img/sponsors/modev.png" class="sponsor-logo half" id="dc-tech")
                    <br/>
                    div(style="clear: both") Stay tuned for more sponsor announcements!

                a(href='/sponsorship.pdf', class='upper center sponsor-email') Want to see your company here? >

        .section.dark.image.schedule(style="background-image: url(img/pic2.jpg)")#schedule
            .wrap
                h4 Schedule (Tentative)
                each day in document.schedule 
                    div
                        h5= day.day
                        ol
                            each item in day.items
                                li
                                    time=item.time
                                    p=item.name

        .section.white#judges
            .wrap
                h4.center Judges
                div.judge-wrap
                    each person in document.judges
                        div.judge-cell
                            div.judge-profile(style="background-image: url("+person.image+");")
                                span.judge-bio !{person.bio}
                            span.judge-name= person.name                    

        .section.dark#getting-there
                    .wrap
                        .content
                        h4 Getting There
                        div.sans-serif-thin#eventAddress
                            span.sans-serif PilotDC <br/>
                            span Microsoft's DC Offices <br/> 5404 Wisconsin Avenue <br/> Chevy Chase, MD 20815
                            
                        iframe(height="500" frameBorder='0' src='http://a.tiles.mapbox.com/v3/pandringa.h7565j67/mm/zoompan,geocoder,share.html' id='eventMap')


        .section.white.faq#faq
            .wrap
                h4 FAQ
                h5 Do I need previous coding experience?
                p
                    strong Nope! 
                    | The point of the event is to learn. If you want to build a real app that you and others can use in real life, then this event is for you.

                h5 Who can participate?
                p Pilot events are for all high school students! Coding experience is not required. You aren't required to have ever built an app before; we will have workshops to help you ramp up quickly. You can come with a team or come alone - there will be a place for you.

                h5 What should I bring?
                p Laptop and charger, extension cord, cellphone and charger, change of clothes, toothbrush, photo ID, and a nice set of clothes for demos/final pitches.

                h5 How many people per team?
                p You can have a maximum of <strong>four (4) students</strong> on your team.

                h5 Can I start working before #{document.title}?
                p <strong>No.</strong> Contestants are not allowed to work on their apps prior to the event. If you want to prepare for the event, focus on gaining experience with and knowledge of the tool you hope to use to build your application.

                h5 Do I need a team or idea to sign up?
                p Nope! We will have sessions to help people find team members and/or form teams, as well as an idea generation workshop to help people think of ideas to work on for the event. So you should sign up regardless!

                h5 Do I have to be there the entire time?
                p Once you arrive, for safety reasons, you will not be allowed to leave until the end of the event. There will be spaces for you to sleep if you would like to.

                h5 Will there be food?
                p Yes. The only thing you need to worry about is building your app; let us take care of the rest. Breakfast, lunch, dinner, snacks, and plenty of drinks will be provided throughout the competition at no cost to participants. We will be providing vegetarian options as well. If you have a specific food allergy or other specific need, contact us and we'll try to find a way to make it work for you.

                h5 What should I wear?
                p While there are no strict guidelines on how to dress, clothing has a profound <a href="http://www.sciencedirect.com/science/article/pii/S0022103112000200">effect on the wearer's psychological processes</a>. If you look good, you end up doing better work. We’ll also have a photographer present throughout the event, so you all might want to look sharp. However, you will definitely want to bring a nice set of clothes for the demos on Sunday!

                h5 What if I have a question that's not here?
                p We'd love to help answer it for you! Send us an email at <a href="mailto:fly@gopilot.org">fly@gopilot.org</a> with your question, and we'll get back to you within 24 hours.
 
        .section.dark.even#footer
            .wrap
                div.center
                    a(class='button blue footer', href=document.url_register) Register as a student
                    a(class='button blue footer', href=document.url_mentor_register) Register as a mentor

        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-43652846-2', 'gopilot.org');ga('send', 'pageview');</script>
        <script data-main="js/main.js" src="js/require.js"></script>

