!!!
html
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='description', content='description of your site')
        meta(name='author', content= "author of the site")
        <meta name="viewport" content="width=device-width, user-scalable=false, initial-scale=1, maximum-scale=1">

        title=document.title + " | What can you build in a day?"

        link(rel='stylesheet', href='css/master.css')
    body
        .borderwrap
            .borders
                .l
                .r
                .b
                .t
        #headwrap
            header
                h1
                    a(href='#')=document.title
                nav
                    .left
                        a(href="#about") About
                        a(href="#faq") FAQ
                    .right
                        a(href=document.url_register) Register
                        a(href="mailto:fly@gopilot.org") Sponsor

        .section.leader(style="background-image: url(img/dc.jpg)")
            .wrap
                h1 You have 24 hours. <br>What will you build?
                .subhead
                    h3(class="pull-left") Announcing #{document.title}.<br> March 29-30, 2014 at <a href="https://www.google.com/maps/preview/place/5404+Wisconsin+Ave+%23700,+Chevy+Chase,+MD+20815/" target="_blank">Microsoft's DC Offices</a>
                    
        .section.white.register#register
            .wrap
                h4.pull-left.serif Early registration is open! 
                a(href=document.url_register class="button blue pull-right") Register Now >

        .section.blue
            .wrap
                h2 Work together with engineers and designers from some of the top tech firms in the world, and turn your idea into a real app.
                a(href=document.url_register class="button white pull-left") Register Now
                br
                a(href='mailto:fly@gopilot.org', class='upper small button') Interested in sponsoring? >

        .section.dark#about
            .wrap
                .content
                    h4 About
                    p
                        | #{document.title} will provide students the opportunity to gain valuable feedback and contact with startups, mentors, and other motivated students while learning and competing. Our goal is to promote intensive collaboration on an innovative software project in an environment that is educational, fun, social, and competitive.

                    p #{document.title} is a <a href="http://gopilot.org">Pilot</a>-run event. Pilot is a national organization committed to helping students gain the ability to turn their ideas in real apps and products.

        //-.section.dark.image.prizes(style="background-image: url(img/pic2.jpg)")
        //-    .wrap
        //-        h4 Prizes
        //-        ol
        //-            li
        //-                div
        //-                    span 1<sup>st</sup>
        //-                    h5 iPad mini
        //-                    p 1/team member
        //-            li
        //-                div
        //-                    span 2<sup>nd</sup>
        //-                    h5 Apple TV
        //-                    p 1/team member
        //-            li
        //-                div
        //-                    span 3<sup>rd</sup>
        //-                    h5 Amazon Kindle 
        //-                    p 1/team member
        //-
        //-        ul.other
        //-            li
        //-                div
        //-                    span Honorable mention
        //-                    h5 Gift cards
        //-            li
        //-                div
        //-                    span Random raffle
        //-                    h5 Swag (t-shirts, all kinds of great stuff)

        .section.dark.image.schedule(style="background-image: url(img/pic2.jpg)")
            .wrap
                h4 Schedule (Tentative)
                each day in document.schedule 
                    div
                        h5= day.day
                        ol
                            each item in day.items
                                li
                                    time=item.time
                                    p=item.name

        .section.white.faq#faq
            .wrap
                h4 FAQ
                h5 Do I need previous coding experience?
                p
                    strong No! 
                    | If you like technology, design, or just hanging out with smart people, than this is for you.

                h5 Who can participate?
                p Pilot events are for all high school students! Coding experience is not required. You aren't required to have ever built an app before; we will have tech talks to help you ramp up quickly. You can come with a team or come alone - there will be a place for you.

                h5 What should I bring?
                p Laptop and charger, extension cord, cellphone and charger, change of clothes, toothbrush, photo ID.

                h5 How many people per team?
                p You can have a maximum of <strong>four (4) students</strong> on your team.

                h5 Can I start working before #{document.title}?
                p <strong>No.</strong> Contestants are not allowed to work on their apps prior to the event. If you want to prepare for the event, focus on gaining experience with and knowledge of the tool you hope to use to build your application.

                h5 Do I need a team or idea to sign up?
                p Nope! We will have sessions to help people find team members and/or form teams, as well as an idea generation workshop to help people think of ideas to work on for the event. So you should sign up regardless!

                h5 Do I have to be there the entire time?
                p Once you arrive, for safety reasons, you will not be allowed to leave until the end of the event. There will be spaces for you to sleep if you would like to.

                h5 Will there be food?
                p Yes. The only thing you need to worry about is building your app; let us take care of the rest. Breakfast, lunch, dinner, snacks, and plenty of drinks will be provided throughout the competition at no cost to participants. We will be providing vegetarian options as well. If you have a specific food allergy or other specific need, contact us and we'll try to find a way to make it work for you.

        .section.dark.even
            .wrap
                div.center
                    a(class='button white', href=document.url_register) Register Now >

        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-43652846-2', 'gopilot.org');ga('send', 'pageview');</script>
